In [3]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()

print("atabase version : %s " % data)

# disconnect from server
db.close()

ModuleNotFoundError: No module named 'MySQLdb'

In [6]:
// https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html
    
import mysql.connector

cnx = mysql.connector.connect(user='root', password='root',
                              host='127.0.0.1',
                              database='world')
cnx.close()

In [7]:
from mysql.connector import (connection)

cnx = mysql.connector.connect(user='root', password='root',
                              host='127.0.0.1',
                              database='world')
cnx.close()

In [9]:
import mysql.connector
from mysql.connector import errorcode

try:
  cnx = mysql.connector.connect(user='root', password ='root',
                                database='world')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cnx.close()

In [10]:
import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': '127.0.0.1',
  'database': 'world',
  'raise_on_warnings': True,
}

cnx = mysql.connector.connect(**config)

cnx.close()

In [15]:
from __future__ import print_function

import mysql.connector
from mysql.connector import errorcode

DB_NAME = 'employees'

TABLES = {}
TABLES['employees'] = (
    "CREATE TABLE `employees` ("
    "  `emp_no` int(11) NOT NULL AUTO_INCREMENT,"
    "  `birth_date` date NOT NULL,"
    "  `first_name` varchar(14) NOT NULL,"
    "  `last_name` varchar(16) NOT NULL,"
    "  `gender` enum('M','F') NOT NULL,"
    "  `hire_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`)"
    ") ENGINE=InnoDB")

TABLES['departments'] = (
    "CREATE TABLE `departments` ("
    "  `dept_no` char(4) NOT NULL,"
    "  `dept_name` varchar(40) NOT NULL,"
    "  PRIMARY KEY (`dept_no`), UNIQUE KEY `dept_name` (`dept_name`)"
    ") ENGINE=InnoDB")

TABLES['salaries'] = (
    "CREATE TABLE `salaries` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `salary` int(11) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`from_date`), KEY `emp_no` (`emp_no`),"
    "  CONSTRAINT `salaries_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['dept_emp'] = (
    "CREATE TABLE `dept_emp` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `dept_no` char(4) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`dept_no`), KEY `emp_no` (`emp_no`),"
    "  KEY `dept_no` (`dept_no`),"
    "  CONSTRAINT `dept_emp_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,"
    "  CONSTRAINT `dept_emp_ibfk_2` FOREIGN KEY (`dept_no`) "
    "     REFERENCES `departments` (`dept_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['dept_manager'] = (
    "  CREATE TABLE `dept_manager` ("
    "  `dept_no` char(4) NOT NULL,"
    "  `emp_no` int(11) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`dept_no`),"
    "  KEY `emp_no` (`emp_no`),"
    "  KEY `dept_no` (`dept_no`),"
    "  CONSTRAINT `dept_manager_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,"
    "  CONSTRAINT `dept_manager_ibfk_2` FOREIGN KEY (`dept_no`) "
    "     REFERENCES `departments` (`dept_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['titles'] = (
    "CREATE TABLE `titles` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `title` varchar(50) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date DEFAULT NULL,"
    "  PRIMARY KEY (`emp_no`,`title`,`from_date`), KEY `emp_no` (`emp_no`),"
    "  CONSTRAINT `titles_ibfk_1` FOREIGN KEY (`emp_no`)"
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

In [16]:
TABLES

{'departments': 'CREATE TABLE `departments` (  `dept_no` char(4) NOT NULL,  `dept_name` varchar(40) NOT NULL,  PRIMARY KEY (`dept_no`), UNIQUE KEY `dept_name` (`dept_name`)) ENGINE=InnoDB',
 'dept_emp': 'CREATE TABLE `dept_emp` (  `emp_no` int(11) NOT NULL,  `dept_no` char(4) NOT NULL,  `from_date` date NOT NULL,  `to_date` date NOT NULL,  PRIMARY KEY (`emp_no`,`dept_no`), KEY `emp_no` (`emp_no`),  KEY `dept_no` (`dept_no`),  CONSTRAINT `dept_emp_ibfk_1` FOREIGN KEY (`emp_no`)      REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,  CONSTRAINT `dept_emp_ibfk_2` FOREIGN KEY (`dept_no`)      REFERENCES `departments` (`dept_no`) ON DELETE CASCADE) ENGINE=InnoDB',
 'dept_manager': '  CREATE TABLE `dept_manager` (  `dept_no` char(4) NOT NULL,  `emp_no` int(11) NOT NULL,  `from_date` date NOT NULL,  `to_date` date NOT NULL,  PRIMARY KEY (`emp_no`,`dept_no`),  KEY `emp_no` (`emp_no`),  KEY `dept_no` (`dept_no`),  CONSTRAINT `dept_manager_ibfk_1` FOREIGN KEY (`emp_no`)      REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,  CONSTRAINT `dept_manager_ibfk_2` FOREIGN KEY (`dept_no`)      REFERENCES `departments` (`dept_no`) ON DELETE CASCADE) ENGINE=InnoDB',
 'employees': "CREATE TABLE `employees` (  `emp_no` int(11) NOT NULL AUTO_INCREMENT,  `birth_date` date NOT NULL,  `first_name` varchar(14) NOT NULL,  `last_name` varchar(16) NOT NULL,  `gender` enum('M','F') NOT NULL,  `hire_date` date NOT NULL,  PRIMARY KEY (`emp_no`)) ENGINE=InnoDB",
 'salaries': 'CREATE TABLE `salaries` (  `emp_no` int(11) NOT NULL,  `salary` int(11) NOT NULL,  `from_date` date NOT NULL,  `to_date` date NOT NULL,  PRIMARY KEY (`emp_no`,`from_date`), KEY `emp_no` (`emp_no`),  CONSTRAINT `salaries_ibfk_1` FOREIGN KEY (`emp_no`)      REFERENCES `employees` (`emp_no`) ON DELETE CASCADE) ENGINE=InnoDB',
 'titles': 'CREATE TABLE `titles` (  `emp_no` int(11) NOT NULL,  `title` varchar(50) NOT NULL,  `from_date` date NOT NULL,  `to_date` date DEFAULT NULL,  PRIMARY KEY (`emp_no`,`title`,`from_date`), KEY `emp_no` (`emp_no`),  CONSTRAINT `titles_ibfk_1` FOREIGN KEY (`emp_no`)     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE) ENGINE=InnoDB'}

In [64]:
import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': '127.0.0.1',
  'database': 'world',
  'raise_on_warnings': True,
}

def runQuery():
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()
    print(cursor)
    sqlcmd = 'select * from world.country'   # needs to be a tuple of string or just string
    cursor.execute(sqlcmd)

    row = cursor.fetchone()
    while row is not None:
        print(row)
        row = cursor.fetchone()
    cursor.close()
    conn.close()

runQuery()

MySQLCursor: (Nothing executed yet)
('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, 828.0, 793.0, 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW')
('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, 5976.0, None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF')
('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, 6648.0, 7984.0, 'Angola', 'Republic', 'JosÃ© Eduardo dos Santos', 56, 'AO')
('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, 63.2, None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI')
('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, 3205.0, 2500.0, 'ShqipÃ«ria', 'Republic', 'Rexhep Mejdani', 34, 'AL')
('AND', 'Andorra', 'Europe', 'Southern Europe', 468.0, 1278, 78000, 83.5, 1630.0, None, 'Andorra', 'Parliamentary Coprincipality', '', 55, 'AD')
('ANT', 'Netherlands Antilles', 'North America', 'Caribbean', 800.0, None, 217000, 74.7, 1941.0, None, 'Nederlandse Antillen', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 33, 'AN')
('ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 2441000, 74.1, 37966.0, 36846.0, 'Al-Imarat al-Â´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE')
('ARG', 'Argentina', 'South America', 'South America', 2780400.0, 1816, 37032000, 75.1, 340238.0, 323310.0, 'Argentina', 'Federal Republic', 'Fernando de la RÃºa', 69, 'AR')
('ARM', 'Armenia', 'Asia', 'Middle East', 29800.0, 1991, 3520000, 66.4, 1813.0, 1627.0, 'Hajastan', 'Republic', 'Robert KotÂšarjan', 126, 'AM')
('ASM', 'American Samoa', 'Oceania', 'Polynesia', 199.0, None, 68000, 75.1, 334.0, None, 'Amerika Samoa', 'US Territory', 'George W. Bush', 54, 'AS')
('ATA', 'Antarctica', 'Antarctica', 'Antarctica', 13120000.0, None, 0, None, 0.0, None, 'Â–', 'Co-administrated', '', None, 'AQ')
('ATF', 'French Southern territories', 'Antarctica', 'Antarctica', 7780.0, None, 0, None, 0.0, None, 'Terres australes franÃ§aises', 'Nonmetropolitan Territory of France', 'Jacques Chirac', None, 'TF')
('ATG', 'Antigua and Barbuda', 'North America', 'Caribbean', 442.0, 1981, 68000, 70.5, 612.0, 584.0, 'Antigua and Barbuda', 'Constitutional Monarchy', 'Elisabeth II', 63, 'AG')
('AUS', 'Australia', 'Oceania', 'Australia and New Zealand', 7741220.0, 1901, 18886000, 79.8, 351182.0, 392911.0, 'Australia', 'Constitutional Monarchy, Federation', 'Elisabeth II', 135, 'AU')
('AUT', 'Austria', 'Europe', 'Western Europe', 83859.0, 1918, 8091800, 77.7, 211860.0, 206025.0, 'Ã–sterreich', 'Federal Republic', 'Thomas Klestil', 1523, 'AT')
('AZE', 'Azerbaijan', 'Asia', 'Middle East', 86600.0, 1991, 7734000, 62.9, 4127.0, 4100.0, 'AzÃ¤rbaycan', 'Federal Republic', 'HeydÃ¤r Ã„liyev', 144, 'AZ')
('BDI', 'Burundi', 'Africa', 'Eastern Africa', 27834.0, 1962, 6695000, 46.2, 903.0, 982.0, 'Burundi/Uburundi', 'Republic', 'Pierre Buyoya', 552, 'BI')
('BEL', 'Belgium', 'Europe', 'Western Europe', 30518.0, 1830, 10239000, 77.8, 249704.0, 243948.0, 'BelgiÃ«/Belgique', 'Constitutional Monarchy, Federation', 'Albert II', 179, 'BE')
('BEN', 'Benin', 'Africa', 'Western Africa', 112622.0, 1960, 6097000, 50.2, 2357.0, 2141.0, 'BÃ©nin', 'Republic', 'Mathieu KÃ©rÃ©kou', 187, 'BJ')
('BFA', 'Burkina Faso', 'Africa', 'Western Africa', 274000.0, 1960, 11937000, 46.7, 2425.0, 2201.0, 'Burkina Faso', 'Republic', 'Blaise CompaorÃ©', 549, 'BF')
('BGD', 'Bangladesh', 'Asia', 'Southern and Central Asia', 143998.0, 1971, 129155000, 60.2, 32852.0, 31966.0, 'Bangladesh', 'Republic', 'Shahabuddin Ahmad', 150, 'BD')
('BGR', 'Bulgaria', 'Europe', 'Eastern Europe', 110994.0, 1908, 8190900, 70.9, 12178.0, 10169.0, 'Balgarija', 'Republic', 'Petar Stojanov', 539, 'BG')
('BHR', 'Bahrain', 'Asia', 'Middle East', 694.0, 1971, 617000, 73.0, 6366.0, 6097.0, 'Al-Bahrayn', 'Monarchy (Emirate)', 'Hamad ibn Isa al-Khalifa', 149, 'BH')
('BHS', 'Bahamas', 'North America', 'Caribbean', 13878.0, 1973, 307000, 71.1, 3527.0, 3347.0, 'The Bahamas', 'Constitutional Monarchy', 'Elisabeth II', 148, 'BS')
('BIH', 'Bosnia and Herzegovina', 'Europe', 'Southern Europe', 51197.0, 1992, 3972000, 71.5, 2841.0, None, 'Bosna i Hercegovina', 'Federal Republic', 'Ante Jelavic', 201, 'BA')
('BLR', 'Belarus', 'Europe', 'Eastern Europe', 207600.0, 1991, 10236000, 68.0, 13714.0, None, 'Belarus', 'Republic', 'Aljaksandr LukaÂšenka', 3520, 'BY')
('BLZ', 'Belize', 'North America', 'Central America', 22696.0, 1981, 241000, 70.9, 630.0, 616.0, 'Belize', 'Constitutional Monarchy', 'Elisabeth II', 185, 'BZ')
('BMU', 'Bermuda', 'North America', 'North America', 53.0, None, 65000, 76.9, 2328.0, 2190.0, 'Bermuda', 'Dependent Territory of the UK', 'Elisabeth II', 191, 'BM')
('BOL', 'Bolivia', 'South America', 'South America', 1098581.0, 1825, 8329000, 63.7, 8571.0, 7967.0, 'Bolivia', 'Republic', 'Hugo BÃ¡nzer SuÃ¡rez', 194, 'BO')
('BRA', 'Brazil', 'South America', 'South America', 8547403.0, 1822, 170115000, 62.9, 776739.0, 804108.0, 'Brasil', 'Federal Republic', 'Fernando Henrique Cardoso', 211, 'BR')
('BRB', 'Barbados', 'North America', 'Caribbean', 430.0, 1966, 270000, 73.0, 2223.0, 2186.0, 'Barbados', 'Constitutional Monarchy', 'Elisabeth II', 174, 'BB')
('BRN', 'Brunei', 'Asia', 'Southeast Asia', 5765.0, 1984, 328000, 73.6, 11705.0, 12460.0, 'Brunei Darussalam', 'Monarchy (Sultanate)', 'Haji Hassan al-Bolkiah', 538, 'BN')
('BTN', 'Bhutan', 'Asia', 'Southern and Central Asia', 47000.0, 1910, 2124000, 52.4, 372.0, 383.0, 'Druk-Yul', 'Monarchy', 'Jigme Singye Wangchuk', 192, 'BT')
('BVT', 'Bouvet Island', 'Antarctica', 'Antarctica', 59.0, None, 0, None, 0.0, None, 'BouvetÃ¸ya', 'Dependent Territory of Norway', 'Harald V', None, 'BV')
('BWA', 'Botswana', 'Africa', 'Southern Africa', 581730.0, 1966, 1622000, 39.3, 4834.0, 4935.0, 'Botswana', 'Republic', 'Festus G. Mogae', 204, 'BW')
('CAF', 'Central African Republic', 'Africa', 'Central Africa', 622984.0, 1960, 3615000, 44.0, 1054.0, 993.0, 'Centrafrique/BÃª-AfrÃ®ka', 'Republic', 'Ange-FÃ©lix PatassÃ©', 1889, 'CF')
('CAN', 'Canada', 'North America', 'North America', 9970610.0, 1867, 31147000, 79.4, 598862.0, 625626.0, 'Canada', 'Constitutional Monarchy, Federation', 'Elisabeth II', 1822, 'CA')
('CCK', 'Cocos (Keeling) Islands', 'Oceania', 'Australia and New Zealand', 14.0, None, 600, None, 0.0, None, 'Cocos (Keeling) Islands', 'Territory of Australia', 'Elisabeth II', 2317, 'CC')
('CHE', 'Switzerland', 'Europe', 'Western Europe', 41284.0, 1499, 7160400, 79.6, 264478.0, 256092.0, 'Schweiz/Suisse/Svizzera/Svizra', 'Federation', 'Adolf Ogi', 3248, 'CH')
('CHL', 'Chile', 'South America', 'South America', 756626.0, 1810, 15211000, 75.7, 72949.0, 75780.0, 'Chile', 'Republic', 'Ricardo Lagos Escobar', 554, 'CL')
('CHN', 'China', 'Asia', 'Eastern Asia', 9572900.0, -1523, 1277558000, 71.4, 982268.0, 917719.0, 'Zhongquo', "People'sRepublic", 'Jiang Zemin', 1891, 'CN')
('CIV', 'CÃ´te dÂ’Ivoire', 'Africa', 'Western Africa', 322463.0, 1960, 14786000, 45.2, 11345.0, 10285.0, 'CÃ´te dÂ’Ivoire', 'Republic', 'Laurent Gbagbo', 2814, 'CI')
('CMR', 'Cameroon', 'Africa', 'Central Africa', 475442.0, 1960, 15085000, 54.8, 9174.0, 8596.0, 'Cameroun/Cameroon', 'Republic', 'Paul Biya', 1804, 'CM')
('COD', 'Congo, The Democratic Republic of the', 'Africa', 'Central Africa', 2344858.0, 1960, 51654000, 48.8, 6964.0, 2474.0, 'RÃ©publique DÃ©mocratique du Congo', 'Republic', 'Joseph Kabila', 2298, 'CD')
('COG', 'Congo', 'Africa', 'Central Africa', 342000.0, 1960, 2943000, 47.4, 2108.0, 2287.0, 'Congo', 'Republic', 'Denis Sassou-Nguesso', 2296, 'CG')
('COK', 'Cook Islands', 'Oceania', 'Polynesia', 236.0, None, 20000, 71.1, 100.0, None, 'The Cook Islands', 'Nonmetropolitan Territory of New Zealand', 'Elisabeth II', 583, 'CK')
('COL', 'Colombia', 'South America', 'South America', 1138914.0, 1810, 42321000, 70.3, 102896.0, 105116.0, 'Colombia', 'Republic', 'AndrÃ©s Pastrana Arango', 2257, 'CO')
('COM', 'Comoros', 'Africa', 'Eastern Africa', 1862.0, 1975, 578000, 60.0, 4401.0, 4361.0, 'Komori/Comores', 'Republic', 'Azali Assoumani', 2295, 'KM')
('CPV', 'Cape Verde', 'Africa', 'Western Africa', 4033.0, 1975, 428000, 68.9, 435.0, 420.0, 'Cabo Verde', 'Republic', 'AntÃ³nio Mascarenhas Monteiro', 1859, 'CV')
('CRI', 'Costa Rica', 'North America', 'Central America', 51100.0, 1821, 4023000, 75.8, 10226.0, 9757.0, 'Costa Rica', 'Republic', 'Miguel Ã\x81ngel RodrÃ\xadguez EcheverrÃ\xada', 584, 'CR')
('CUB', 'Cuba', 'North America', 'Caribbean', 110861.0, 1902, 11201000, 76.2, 17843.0, 18862.0, 'Cuba', 'Socialistic Republic', 'Fidel Castro Ruz', 2413, 'CU')
('CXR', 'Christmas Island', 'Oceania', 'Australia and New Zealand', 135.0, None, 2500, None, 0.0, None, 'Christmas Island', 'Territory of Australia', 'Elisabeth II', 1791, 'CX')
('CYM', 'Cayman Islands', 'North America', 'Caribbean', 264.0, None, 38000, 78.9, 1263.0, 1186.0, 'Cayman Islands', 'Dependent Territory of the UK', 'Elisabeth II', 553, 'KY')
('CYP', 'Cyprus', 'Asia', 'Middle East', 9251.0, 1960, 754700, 76.7, 9333.0, 8246.0, 'KÃ½pros/Kibris', 'Republic', 'Glafkos Klerides', 2430, 'CY')
('CZE', 'Czech Republic', 'Europe', 'Eastern Europe', 78866.0, 1993, 10278100, 74.5, 55017.0, 52037.0, 'Â¸esko', 'Republic', 'VÃ¡clav Havel', 3339, 'CZ')
('DEU', 'Germany', 'Europe', 'Western Europe', 357022.0, 1955, 82164700, 77.4, 2133367.0, 2102826.0, 'Deutschland', 'Federal Republic', 'Johannes Rau', 3068, 'DE')
('DJI', 'Djibouti', 'Africa', 'Eastern Africa', 23200.0, 1977, 638000, 50.8, 382.0, 373.0, 'Djibouti/Jibuti', 'Republic', 'Ismail Omar Guelleh', 585, 'DJ')
('DMA', 'Dominica', 'North America', 'Caribbean', 751.0, 1978, 71000, 73.4, 256.0, 243.0, 'Dominica', 'Republic', 'Vernon Shaw', 586, 'DM')
('DNK', 'Denmark', 'Europe', 'Nordic Countries', 43094.0, 800, 5330000, 76.5, 174099.0, 169264.0, 'Danmark', 'Constitutional Monarchy', 'Margrethe II', 3315, 'DK')
('DOM', 'Dominican Republic', 'North America', 'Caribbean', 48511.0, 1844, 8495000, 73.2, 15846.0, 15076.0, 'RepÃºblica Dominicana', 'Republic', 'HipÃ³lito MejÃ\xada DomÃ\xadnguez', 587, 'DO')
('DZA', 'Algeria', 'Africa', 'Northern Africa', 2381741.0, 1962, 31471000, 69.7, 49982.0, 46966.0, 'Al-JazaÂ’ir/AlgÃ©rie', 'Republic', 'Abdelaziz Bouteflika', 35, 'DZ')
('ECU', 'Ecuador', 'South America', 'South America', 283561.0, 1822, 12646000, 71.1, 19770.0, 19769.0, 'Ecuador', 'Republic', 'Gustavo Noboa Bejarano', 594, 'EC')
('EGY', 'Egypt', 'Africa', 'Northern Africa', 1001449.0, 1922, 68470000, 63.3, 82710.0, 75617.0, 'Misr', 'Republic', 'Hosni Mubarak', 608, 'EG')
('ERI', 'Eritrea', 'Africa', 'Eastern Africa', 117600.0, 1993, 3850000, 55.8, 650.0, 755.0, 'Ertra', 'Republic', 'Isayas Afewerki [Isaias Afwerki]', 652, 'ER')
('ESH', 'Western Sahara', 'Africa', 'Northern Africa', 266000.0, None, 293000, 49.8, 60.0, None, 'As-Sahrawiya', 'Occupied by Marocco', 'Mohammed Abdel Aziz', 2453, 'EH')
('ESP', 'Spain', 'Europe', 'Southern Europe', 505992.0, 1492, 39441700, 78.8, 553233.0, 532031.0, 'EspaÃ±a', 'Constitutional Monarchy', 'Juan Carlos I', 653, 'ES')
('EST', 'Estonia', 'Europe', 'Baltic Countries', 45227.0, 1991, 1439200, 69.5, 5328.0, 3371.0, 'Eesti', 'Republic', 'Lennart Meri', 3791, 'EE')
('ETH', 'Ethiopia', 'Africa', 'Eastern Africa', 1104300.0, -1000, 62565000, 45.2, 6353.0, 6180.0, 'YeItyopÂ´iya', 'Republic', 'Negasso Gidada', 756, 'ET')
('FIN', 'Finland', 'Europe', 'Nordic Countries', 338145.0, 1917, 5171300, 77.4, 121914.0, 119833.0, 'Suomi', 'Republic', 'Tarja Halonen', 3236, 'FI')
('FJI', 'Fiji Islands', 'Oceania', 'Melanesia', 18274.0, 1970, 817000, 67.9, 1536.0, 2149.0, 'Fiji Islands', 'Republic', 'Josefa Iloilo', 764, 'FJ')
('FLK', 'Falkland Islands', 'South America', 'South America', 12173.0, None, 2000, None, 0.0, None, 'Falkland Islands', 'Dependent Territory of the UK', 'Elisabeth II', 763, 'FK')
('FRA', 'France', 'Europe', 'Western Europe', 551500.0, 843, 59225700, 78.8, 1424285.0, 1392448.0, 'France', 'Republic', 'Jacques Chirac', 2974, 'FR')
('FRO', 'Faroe Islands', 'Europe', 'Nordic Countries', 1399.0, None, 43000, 78.4, 0.0, None, 'FÃ¸royar', 'Part of Denmark', 'Margrethe II', 901, 'FO')
('FSM', 'Micronesia, Federated States of', 'Oceania', 'Micronesia', 702.0, 1990, 119000, 68.6, 212.0, None, 'Micronesia', 'Federal Republic', 'Leo A. Falcam', 2689, 'FM')
('GAB', 'Gabon', 'Africa', 'Central Africa', 267668.0, 1960, 1226000, 50.1, 5493.0, 5279.0, 'Le Gabon', 'Republic', 'Omar Bongo', 902, 'GA')
('GBR', 'United Kingdom', 'Europe', 'British Islands', 242900.0, 1066, 59623400, 77.7, 1378330.0, 1296830.0, 'United Kingdom', 'Constitutional Monarchy', 'Elisabeth II', 456, 'GB')
('GEO', 'Georgia', 'Asia', 'Middle East', 69700.0, 1991, 4968000, 64.5, 6064.0, 5924.0, 'Sakartvelo', 'Republic', 'Eduard ÂŠevardnadze', 905, 'GE')
('GHA', 'Ghana', 'Africa', 'Western Africa', 238533.0, 1957, 20212000, 57.4, 7137.0, 6884.0, 'Ghana', 'Republic', 'John Kufuor', 910, 'GH')
('GIB', 'Gibraltar', 'Europe', 'Southern Europe', 6.0, None, 25000, 79.0, 258.0, None, 'Gibraltar', 'Dependent Territory of the UK', 'Elisabeth II', 915, 'GI')
('GIN', 'Guinea', 'Africa', 'Western Africa', 245857.0, 1958, 7430000, 45.6, 2352.0, 2383.0, 'GuinÃ©e', 'Republic', 'Lansana ContÃ©', 926, 'GN')
('GLP', 'Guadeloupe', 'North America', 'Caribbean', 1705.0, None, 456000, 77.0, 3501.0, None, 'Guadeloupe', 'Overseas Department of France', 'Jacques Chirac', 919, 'GP')
('GMB', 'Gambia', 'Africa', 'Western Africa', 11295.0, 1965, 1305000, 53.2, 320.0, 325.0, 'The Gambia', 'Republic', 'Yahya Jammeh', 904, 'GM')
('GNB', 'Guinea-Bissau', 'Africa', 'Western Africa', 36125.0, 1974, 1213000, 49.0, 293.0, 272.0, 'GuinÃ©-Bissau', 'Republic', 'Kumba IalÃ¡', 927, 'GW')
('GNQ', 'Equatorial Guinea', 'Africa', 'Central Africa', 28051.0, 1968, 453000, 53.6, 283.0, 542.0, 'Guinea Ecuatorial', 'Republic', 'Teodoro Obiang Nguema Mbasogo', 2972, 'GQ')
('GRC', 'Greece', 'Europe', 'Southern Europe', 131626.0, 1830, 10545700, 78.4, 120724.0, 119946.0, 'EllÃ¡da', 'Republic', 'Kostis Stefanopoulos', 2401, 'GR')
('GRD', 'Grenada', 'North America', 'Caribbean', 344.0, 1974, 94000, 64.5, 318.0, None, 'Grenada', 'Constitutional Monarchy', 'Elisabeth II', 916, 'GD')
('GRL', 'Greenland', 'North America', 'North America', 2166090.0, None, 56000, 68.1, 0.0, None, 'Kalaallit Nunaat/GrÃ¸nland', 'Part of Denmark', 'Margrethe II', 917, 'GL')
('GTM', 'Guatemala', 'North America', 'Central America', 108889.0, 1821, 11385000, 66.2, 19008.0, 17797.0, 'Guatemala', 'Republic', 'Alfonso Portillo Cabrera', 922, 'GT')
('GUF', 'French Guiana', 'South America', 'South America', 90000.0, None, 181000, 76.1, 681.0, None, 'Guyane franÃ§aise', 'Overseas Department of France', 'Jacques Chirac', 3014, 'GF')
('GUM', 'Guam', 'Oceania', 'Micronesia', 549.0, None, 168000, 77.8, 1197.0, 1136.0, 'Guam', 'US Territory', 'George W. Bush', 921, 'GU')
('GUY', 'Guyana', 'South America', 'South America', 214969.0, 1966, 861000, 64.0, 722.0, 743.0, 'Guyana', 'Republic', 'Bharrat Jagdeo', 928, 'GY')
('HKG', 'Hong Kong', 'Asia', 'Eastern Asia', 1075.0, None, 6782000, 79.5, 166448.0, 173610.0, 'Xianggang/Hong Kong', 'Special Administrative Region of China', 'Jiang Zemin', 937, 'HK')
('HMD', 'Heard Island and McDonald Islands', 'Antarctica', 'Antarctica', 359.0, None, 0, None, 0.0, None, 'Heard and McDonald Islands', 'Territory of Australia', 'Elisabeth II', None, 'HM')
('HND', 'Honduras', 'North America', 'Central America', 112088.0, 1838, 6485000, 69.9, 5333.0, 4697.0, 'Honduras', 'Republic', 'Carlos Roberto Flores FacussÃ©', 933, 'HN')
('HRV', 'Croatia', 'Europe', 'Southern Europe', 56538.0, 1991, 4473000, 73.7, 20208.0, 19300.0, 'Hrvatska', 'Republic', 'ÂŠtipe Mesic', 2409, 'HR')
('HTI', 'Haiti', 'North America', 'Caribbean', 27750.0, 1804, 8222000, 49.2, 3459.0, 3107.0, 'HaÃ¯ti/Dayti', 'Republic', 'Jean-Bertrand Aristide', 929, 'HT')
('HUN', 'Hungary', 'Europe', 'Eastern Europe', 93030.0, 1918, 10043200, 71.4, 48267.0, 45914.0, 'MagyarorszÃ¡g', 'Republic', 'Ferenc MÃ¡dl', 3483, 'HU')
('IDN', 'Indonesia', 'Asia', 'Southeast Asia', 1904569.0, 1945, 212107000, 68.0, 84982.0, 215002.0, 'Indonesia', 'Republic', 'Abdurrahman Wahid', 939, 'ID')
('IND', 'India', 'Asia', 'Southern and Central Asia', 3287263.0, 1947, 1013662000, 62.5, 447114.0, 430572.0, 'Bharat/India', 'Federal Republic', 'Kocheril Raman Narayanan', 1109, 'IN')
('IOT', 'British Indian Ocean Territory', 'Africa', 'Eastern Africa', 78.0, None, 0, None, 0.0, None, 'British Indian Ocean Territory', 'Dependent Territory of the UK', 'Elisabeth II', None, 'IO')
('IRL', 'Ireland', 'Europe', 'British Islands', 70273.0, 1921, 3775100, 76.8, 75921.0, 73132.0, 'Ireland/Ã‰ire', 'Republic', 'Mary McAleese', 1447, 'IE')
('IRN', 'Iran', 'Asia', 'Southern and Central Asia', 1648195.0, 1906, 67702000, 69.7, 195746.0, 160151.0, 'Iran', 'Islamic Republic', 'Ali Mohammad Khatami-Ardakani', 1380, 'IR')
('IRQ', 'Iraq', 'Asia', 'Middle East', 438317.0, 1932, 23115000, 66.5, 11500.0, None, 'Al-Â´Iraq', 'Republic', 'Saddam Hussein al-Takriti', 1365, 'IQ')
('ISL', 'Iceland', 'Europe', 'Nordic Countries', 103000.0, 1944, 279000, 79.4, 8255.0, 7474.0, 'Ã\x8dsland', 'Republic', 'Ã“lafur Ragnar GrÃ\xadmsson', 1449, 'IS')
('ISR', 'Israel', 'Asia', 'Middle East', 21056.0, 1948, 6217000, 78.6, 97477.0, 98577.0, 'YisraÂ’el/IsraÂ’il', 'Republic', 'Moshe Katzav', 1450, 'IL')
('ITA', 'Italy', 'Europe', 'Southern Europe', 301316.0, 1861, 57680000, 79.0, 1161755.0, 1145372.0, 'Italia', 'Republic', 'Carlo Azeglio Ciampi', 1464, 'IT')
('JAM', 'Jamaica', 'North America', 'Caribbean', 10990.0, 1962, 2583000, 75.2, 6871.0, 6722.0, 'Jamaica', 'Constitutional Monarchy', 'Elisabeth II', 1530, 'JM')
('JOR', 'Jordan', 'Asia', 'Middle East', 88946.0, 1946, 5083000, 77.4, 7526.0, 7051.0, 'Al-Urdunn', 'Constitutional Monarchy', 'Abdullah II', 1786, 'JO')
('JPN', 'Japan', 'Asia', 'Eastern Asia', 377829.0, -660, 126714000, 80.7, 3787042.0, 4192638.0, 'Nihon/Nippon', 'Constitutional Monarchy', 'Akihito', 1532, 'JP')
('KAZ', 'Kazakstan', 'Asia', 'Southern and Central Asia', 2724900.0, 1991, 16223000, 63.2, 24375.0, 23383.0, 'Qazaqstan', 'Republic', 'Nursultan Nazarbajev', 1864, 'KZ')
('KEN', 'Kenya', 'Africa', 'Eastern Africa', 580367.0, 1963, 30080000, 48.0, 9217.0, 10241.0, 'Kenya', 'Republic', 'Daniel arap Moi', 1881, 'KE')
('KGZ', 'Kyrgyzstan', 'Asia', 'Southern and Central Asia', 199900.0, 1991, 4699000, 63.4, 1626.0, 1767.0, 'Kyrgyzstan', 'Republic', 'Askar Akajev', 2253, 'KG')
('KHM', 'Cambodia', 'Asia', 'Southeast Asia', 181035.0, 1953, 11168000, 56.5, 5121.0, 5670.0, 'KÃ¢mpuchÃ©a', 'Constitutional Monarchy', 'Norodom Sihanouk', 1800, 'KH')
('KIR', 'Kiribati', 'Oceania', 'Micronesia', 726.0, 1979, 83000, 59.8, 40.7, None, 'Kiribati', 'Republic', 'Teburoro Tito', 2256, 'KI')
('KNA', 'Saint Kitts and Nevis', 'North America', 'Caribbean', 261.0, 1983, 38000, 70.7, 299.0, None, 'Saint Kitts and Nevis', 'Constitutional Monarchy', 'Elisabeth II', 3064, 'KN')
('KOR', 'South Korea', 'Asia', 'Eastern Asia', 99434.0, 1948, 46844000, 74.4, 320749.0, 442544.0, 'Taehan MinÂ’guk (Namhan)', 'Republic', 'Kim Dae-jung', 2331, 'KR')
('KWT', 'Kuwait', 'Asia', 'Middle East', 17818.0, 1961, 1972000, 76.1, 27037.0, 30373.0, 'Al-Kuwayt', 'Constitutional Monarchy (Emirate)', 'Jabir al-Ahmad al-Jabir al-Sabah', 2429, 'KW')
('LAO', 'Laos', 'Asia', 'Southeast Asia', 236800.0, 1953, 5433000, 53.1, 1292.0, 1746.0, 'Lao', 'Republic', 'Khamtay Siphandone', 2432, 'LA')
('LBN', 'Lebanon', 'Asia', 'Middle East', 10400.0, 1941, 3282000, 71.3, 17121.0, 15129.0, 'Lubnan', 'Republic', 'Ã‰mile Lahoud', 2438, 'LB')
('LBR', 'Liberia', 'Africa', 'Western Africa', 111369.0, 1847, 3154000, 51.0, 2012.0, None, 'Liberia', 'Republic', 'Charles Taylor', 2440, 'LR')
('LBY', 'Libyan Arab Jamahiriya', 'Africa', 'Northern Africa', 1759540.0, 1951, 5605000, 75.5, 44806.0, 40562.0, 'Libiya', 'Socialistic State', 'Muammar al-Qadhafi', 2441, 'LY')

NameError: name 'conn' is not defined

In [67]:
 import mysql.connector

config = {
  'user': 'root',
  'password': 'root',
  'host': '127.0.0.1',
  'database': 'comsec',
  'raise_on_warnings': True,
}

def runQuery():
    cnx = mysql.connector.connect(**config)
    cursor = cnx.cursor()
    print(cursor)
    
    sqlcmd = 'select * from comsec.port_super'   # needs to be a tuple of string or just string
    cursor.execute(sqlcmd)

    row = cursor.fetchone()
    while row is not None:
        print(row)
        row = cursor.fetchone()
        
    cursor.close()
    cnx.close()

runQuery()

MySQLCursor: (Nothing executed yet)
(datetime.date(2017, 1, 9), 216524.0, 196845.0)
(datetime.date(2017, 1, 10), 213708.0, 196845.0)
(datetime.date(2017, 1, 13), 214752.0, 200390.0)
(datetime.date(2017, 1, 16), 215342.0, 200390.0)
(datetime.date(2017, 1, 17), 212976.0, 200390.0)
(datetime.date(2017, 1, 18), 211951.0, 200390.0)
(datetime.date(2017, 1, 19), 210903.0, 200390.0)
(datetime.date(2017, 1, 20), 209104.0, 200390.0)
(datetime.date(2017, 1, 23), 207939.0, 200390.0)
(datetime.date(2017, 1, 24), 207888.0, 200390.0)
(datetime.date(2017, 1, 25), 208412.0, 200390.0)
(datetime.date(2017, 1, 27), 210783.0, 200390.0)
(datetime.date(2017, 1, 30), 208870.0, 200390.0)
(datetime.date(2017, 1, 31), 207089.0, 200390.0)
(datetime.date(2017, 2, 1), 208597.0, 200390.0)
(datetime.date(2017, 2, 2), 208300.0, 200390.0)
(datetime.date(2017, 2, 3), 207847.0, 200390.0)
(datetime.date(2017, 2, 6), 208016.0, 200390.0)
(datetime.date(2017, 2, 7), 206802.0, 200390.0)
(datetime.date(2017, 2, 8), 208174.0, 200390.0)
(datetime.date(2017, 2, 9), 209033.0, 200390.0)
(datetime.date(2017, 2, 10), 211079.0, 200390.0)
(datetime.date(2017, 2, 13), 212505.0, 200390.0)
(datetime.date(2017, 2, 14), 211832.0, 200390.0)
(datetime.date(2017, 2, 15), 214002.0, 200390.0)
(datetime.date(2017, 2, 16), 212621.0, 200390.0)
(datetime.date(2017, 2, 17), 212959.0, 200390.0)
(datetime.date(2017, 2, 20), 212644.0, 200390.0)
(datetime.date(2017, 2, 21), 212379.0, 200390.0)
(datetime.date(2017, 2, 22), 214638.0, 200390.0)
(datetime.date(2017, 2, 23), 214952.0, 200390.0)
(datetime.date(2017, 2, 24), 213899.0, 200390.0)
(datetime.date(2017, 2, 27), 180512.0, 174680.0)
(datetime.date(2017, 2, 28), 170375.0, 164152.0)
(datetime.date(2017, 3, 2), 176429.0, 169868.0)
(datetime.date(2017, 3, 3), 175238.0, 169868.0)
(datetime.date(2017, 3, 6), 169528.0, 164039.0)
(datetime.date(2017, 3, 7), 170336.0, 164039.0)
(datetime.date(2017, 3, 8), 170956.0, 164039.0)
(datetime.date(2017, 3, 9), 170622.0, 164039.0)
(datetime.date(2017, 3, 10), 172585.0, 164039.0)
(datetime.date(2017, 3, 13), 171872.0, 164039.0)
(datetime.date(2017, 3, 14), 172180.0, 164039.0)
(datetime.date(2017, 3, 15), 177198.0, 169033.0)
(datetime.date(2017, 3, 16), 176816.0, 169033.0)
(datetime.date(2017, 3, 17), 176784.0, 169033.0)
(datetime.date(2017, 3, 22), 172586.0, 169033.0)
(datetime.date(2017, 3, 23), 172680.0, 169033.0)
(datetime.date(2017, 3, 28), 183740.0, 174534.0)
(datetime.date(2017, 3, 29), 185862.0, 174713.0)
(datetime.date(2017, 3, 31), 185493.0, 174847.0)
(datetime.date(2017, 4, 5), 183680.0, 174847.0)
(datetime.date(2017, 4, 20), 179670.0, 179180.0)
(datetime.date(2017, 4, 21), 180189.0, 179180.0)
(datetime.date(2017, 4, 24), 181192.0, 179180.0)
(datetime.date(2017, 4, 26), 182222.0, 179180.0)
(datetime.date(2017, 4, 27), 181995.0, 179180.0)
(datetime.date(2017, 4, 28), 182171.0, 179180.0)
(datetime.date(2017, 5, 1), 183102.0, 179180.0)
(datetime.date(2017, 5, 2), 182411.0, 179180.0)
(datetime.date(2017, 5, 3), 180073.0, 179180.0)
(datetime.date(2017, 5, 5), 179158.0, 179180.0)
(datetime.date(2017, 5, 8), 178649.0, 179180.0)
(datetime.date(2017, 5, 9), 177888.0, 179180.0)
(datetime.date(2017, 5, 10), 178615.0, 179180.0)
(datetime.date(2017, 5, 18), 172231.0, 179180.0)
(datetime.date(2017, 5, 24), 171295.0, 179180.0)
(datetime.date(2017, 5, 25), 171635.0, 179180.0)
(datetime.date(2017, 6, 6), 166984.0, 179180.0)
(datetime.date(2017, 6, 30), 163786.0, 173464.0)
(datetime.date(2017, 7, 3), 163423.0, 173464.0)
(datetime.date(2017, 7, 5), 167862.0, 174693.0)
(datetime.date(2017, 7, 6), 167619.0, 175207.0)
(datetime.date(2017, 7, 8), 165698.0, 175207.0)
(datetime.date(2017, 7, 10), 166799.0, 175207.0)
(datetime.date(2017, 7, 11), 167148.0, 175207.0)
(datetime.date(2017, 8, 11), 169331.0, 173872.0)
(datetime.date(2017, 8, 21), 164594.0, 168784.0)
(datetime.date(2017, 8, 22), 164352.0, 168784.0)
(datetime.date(2017, 8, 24), 163082.0, 168784.0)
(datetime.date(2017, 8, 25), 164129.0, 168784.0)
(datetime.date(2017, 8, 28), 163569.0, 168784.0)
(datetime.date(2017, 8, 29), 162233.0, 168784.0)
(datetime.date(2017, 8, 30), 161040.0, 168784.0)
(datetime.date(2017, 8, 31), 162952.0, 168784.0)
(datetime.date(2017, 9, 1), 163166.0, 168784.0)
(datetime.date(2017, 9, 4), 162634.0, 168784.0)
(datetime.date(2017, 9, 5), 162679.0, 168784.0)
(datetime.date(2017, 10, 9), 159878.0, 165654.0)
(datetime.date(2017, 10, 10), 160346.0, 165654.0)
(datetime.date(2017, 10, 16), 157082.0, 161404.0)
(datetime.date(2017, 10, 17), 157875.0, 161404.0)